html,
body {
  height: 100%;
  margin: 0;
  font-family: "Lobster", cursive;
}

header {
  background-color: #33a8dd;
  display: inline-block;
  width: 100%;
  height: 50%;
  text-align: center;
}

.bacon1 {
  background-color: #33a8dd;
}

.bacon2 {
  background-color: #f46731;
}

.bacon3 {
  background-color: #2bcdc0;
}

a img {
  width: 50px;
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #f7f5f6;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  font-family: "Lobster", cursive;
}

h2 {
  text-align: center;
  color: black;
}

p {
  text-align: center;
  color: black;
  /* width: 200px; */
  margin: auto;
}

article {
  padding: 20px;
  margin: 10px;
}

.box {
  width: 200px;
  height: 25px;
  margin: auto;
}

.blue {
  background: #33a8dd;
}

.orange {
  background: #f46731;
}

.green {
  background: #2bcdc0;
}

.miles {
  margin: auto;
}

article a {
  text-decoration: none;
}

@media (min-width: 576px) {
  section {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 50%;
  }

  header {
    background-color: #2bcdc0;
  }

  p {
    color: white;
  }

  h2 {
    color: white;
  }

  .miles {
    margin: auto;
  }

  .bacon1 {
    background-color: #33a8dd;
  }

  .bacon2 {
    background-color: #f46731;
  }

  .bacon3 {
    background-color: #2bcdc0;
  }

  @media (min-width: 992px) {
    /* section { */
    /* display: flex; */
    /* flex-direction: row; */
    /* background-color: black; */

    /* height: 50%; */
  }
}
