.square {
  border-color: black;
  margin: auto;
}

body {
  display: grid;
}

.topleft {
  grid-area: topleft;
}

.topmid {
  grid-area: topmid;
}

.topright {
  grid-area: topright;
}

.midleft {
  grid-area: midleft;
}

.middle {
  grid-area: mid;
}

.midright {
  grid-area: midright;
}

.botleft {
  grid-area: botleft;
}

.botmid {
  grid-area: botmid;
}

.botright {
  grid-area: botright;
}

.board {
  background-color: blue;
  display: grid;
  grid-template-areas:
    "topleft topmid topright"
    "midleft mid midright"
    "botleft botmid botright";

  height: 300px;
  width: 300px;
}

.xo {
  height: 90px;
  width: 90px;
  margin: auto;
  background-color: red;
  font-size: 60px;
  color: white;
}

.button {
  height: 90px;
  width: 90px;
  margin: auto;
  background-color: green;
  font-size: 60px;
  color: red;
}
